**Preparing a sample dataset csv for uplift modeling from a larger Criteo dataset**

In [1]:
import pandas as pd

criteo_uplift_v2_1_100K_sample = pd.read_csv('/Users/rohityadav/Desktop/Git Projects/ml-uplift-modeling-criteo/data/criteo-uplift-v2.1.csv', nrows = 100000)
criteo_uplift_v2_1_100K_sample.to_csv('/Users/rohityadav/Desktop/Git Projects/ml-uplift-modeling-criteo/data/criteo-uplift-v2.1-100K-sample.csv', index=False)
criteo_uplift_v2_1_100K_sample.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,treatment,conversion,visit,exposure
0,12.616365,10.059654,8.976429,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0
1,12.616365,10.059654,9.002689,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0
2,12.616365,10.059654,8.964775,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0
3,12.616365,10.059654,9.002801,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0
4,12.616365,10.059654,9.037999,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0

In [2]:
criteo_uplift_v2_1_100K_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   f0          100000 non-null  float64
 1   f1          100000 non-null  float64
 2   f2          100000 non-null  float64
 3   f3          100000 non-null  float64
 4   f4          100000 non-null  float64
 5   f5          100000 non-null  float64
 6   f6          100000 non-null  float64
 7   f7          100000 non-null  float64
 8   f8          100000 non-null  float64
 9   f9          100000 non-null  float64
 10  f10         100000 non-null  float64
 11  f11         100000 non-null  float64
 12  treatment   100000 non-null  int64
 13  conversion  100000 non-null  int64
 14  visit       100000 non-null  int64
 15  exposure    100000 non-null  int64
dtypes: float64(12), int64(4)
memory usage: 12.2 MB

In [3]:
# Inspecting the large file

path = '/Users/rohityadav/Desktop/Git Projects/ml-uplift-modeling-criteo/data/criteo-uplift-v2.1.csv'
df_large = pd.read_csv(path)
df_large.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,treatment,conversion,visit,exposure
0,12.616365,10.059654,8.976429,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0
1,12.616365,10.059654,9.002689,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0
2,12.616365,10.059654,8.964775,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0
3,12.616365,10.059654,9.002801,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0
4,12.616365,10.059654,9.037999,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0

In [5]:
df_large['treatment'].value_counts()

treatment
1    11882655
0     2096937
Name: count, dtype: int64

In [8]:
df_large.groupby('treatment')['visit'].mean()

treatment
0    0.038201
1    0.048543
Name: visit, dtype: float64

In [10]:
df_large.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13979592 entries, 0 to 13979591
Data columns (total 16 columns):
 #   Column      Dtype
---  ------      -----
 0   f0          float64
 1   f1          float64
 2   f2          float64
 3   f3          float64
 4   f4          float64
 5   f5          float64
 6   f6          float64
 7   f7          float64
 8   f8          float64
 9   f9          float64
 10  f10         float64
 11  f11         float64
 12  treatment   int64
 13  conversion  int64
 14  visit       int64
 15  exposure    int64
dtypes: float64(12), int64(4)
memory usage: 1.7 GB

In [12]:
# Slice the dataset in a balanced fashion such that the treatment column has both 0 and 1 values
# Necessary for uplift modeling

treated = df_large[df_large['treatment'] == 1].sample(50_000, random_state = 42)
control = df_large[df_large['treatment'] == 0].sample(50_000, random_state = 42)

df_uplift = pd.concat([treated,control]).sample(frac = 1, random_state = 42)
df_uplift.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,treatment,conversion,visit,exposure
8216923,12.616365,10.059654,8.342151,4.679882,10.280525,4.115453,0.294443,4.833815,3.812625,32.395545,5.300375,-0.168679,0,0,0,0
6193976,24.286434,10.059654,8.214383,4.679882,10.280525,4.115453,-5.987667,4.833815,3.971858,13.190056,5.300375,-0.168679,0,0,0,0
4268530,26.391621,10.059654,8.214383,4.679882,10.280525,4.115453,-1.288207,4.833815,3.971858,13.190056,5.300375,-0.168679,1,0,0,0
6631496,14.206224,10.059654,8.935635,2.293959,10.280525,4.115453,-4.595460,4.833815,3.955396,13.190056,5.300375,-0.168679,0,0,0,0
10225586,23.087444,10.059654,8.969849,4.679882,10.280525,4.115453,-2.411115,4.833815,3.880455,13.190056,5.300375,-0.168679,0,0,0,0

In [13]:
df_uplift.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 8216923 to 3755439
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   f0          100000 non-null  float64
 1   f1          100000 non-null  float64
 2   f2          100000 non-null  float64
 3   f3          100000 non-null  float64
 4   f4          100000 non-null  float64
 5   f5          100000 non-null  float64
 6   f6          100000 non-null  float64
 7   f7          100000 non-null  float64
 8   f8          100000 non-null  float64
 9   f9          100000 non-null  float64
 10  f10         100000 non-null  float64
 11  f11         100000 non-null  float64
 12  treatment   100000 non-null  int64
 13  conversion  100000 non-null  int64
 14  visit       100000 non-null  int64
 15  exposure    100000 non-null  int64
dtypes: float64(12), int64(4)
memory usage: 13.0 MB

In [14]:
df_uplift['treatment'].value_counts()

treatment
0    50000
1    50000
Name: count, dtype: int64

In [15]:
df_uplift.groupby('treatment')['visit'].mean()

treatment
0    0.03662
1    0.04762
Name: visit, dtype: float64

In [17]:
# Save the new balanced file

df_uplift.to_csv('/Users/rohityadav/Desktop/Git Projects/ml-uplift-modeling-criteo/data/criteo-uplift-v2.1-100K-balanced.csv', index=False)