In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Load Dataset

path = "/Users/rohityadav/Desktop/Git Projects/ml-uplift-modeling-criteo/data/criteo-uplift-v2.1-100K-balanced.csv"
df = pd.read_csv(path)
df.head(5)

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,treatment,conversion,visit,exposure
0,12.616365,10.059654,8.342151,4.679882,10.280525,4.115453,0.294443,4.833815,3.812625,32.395545,5.300375,-0.168679,0,0,0,0
1,24.286434,10.059654,8.214383,4.679882,10.280525,4.115453,-5.987667,4.833815,3.971858,13.190056,5.300375,-0.168679,0,0,0,0
2,26.391621,10.059654,8.214383,4.679882,10.280525,4.115453,-1.288207,4.833815,3.971858,13.190056,5.300375,-0.168679,1,0,0,0
3,14.206224,10.059654,8.935635,2.293959,10.280525,4.115453,-4.595460,4.833815,3.955396,13.190056,5.300375,-0.168679,0,0,0,0
4,23.087444,10.059654,8.969849,4.679882,10.280525,4.115453,-2.411115,4.833815,3.880455,13.190056,5.300375,-0.168679,0,0,0,0

In [2]:
# Basic Inspection

print("Shape", df.shape)
print("\nMissing Values:\n", df.isnull().sum())
print("\nTreatment Distribution:\n", df["treatment"].value_counts(normalize = True))
print("\nOutcome Distribution:\n", df["visit"].value_counts(normalize = True))

Shape (100000, 16)

Missing Values:
 f0            0
f1            0
f2            0
f3            0
f4            0
f5            0
f6            0
f7            0
f8            0
f9            0
f10           0
f11           0
treatment     0
conversion    0
visit         0
exposure      0
dtype: int64

Treatment Distribution:
 treatment
0    0.5
1    0.5
Name: proportion, dtype: float64

Outcome Distribution:
 visit
0    0.95788
1    0.04212
Name: proportion, dtype: float64

In [3]:
# Define X,Y and T

X = df.drop(["treatment", "visit", "conversion", "exposure"], axis = 1)
Y = df["visit"]
T = df["treatment"]

print("\nFeature Columns:", X.columns.tolist())
print("X shape: ", X.shape)

Feature Columns: ['f0', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10', 'f11']
X shape:  (100000, 12)

In [4]:
# Stratified split by treatment

X_train, X_test, T_train, T_test, Y_train, Y_test = train_test_split(
    X, T, Y,
    test_size = 0.3,
    stratify = T,
    random_state = 42
)

print("\nTrain shapes:", X_train.shape, T_train.shape, Y_train.shape)
print("Test shapes:", X_test.shape, T_test.shape, Y_test.shape)

print("\nTreatment ratio train:", T_train.mean())
print("\nTreatment ratio test:", T_test.mean())

Train shapes: (70000, 12) (70000,) (70000,)
Test shapes: (30000, 12) (30000,) (30000,)

Treatment ratio train: 0.5

Treatment ratio test: 0.5